/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-form-field {
  font-size: 14px !important;
}

mat-error {
  font-size: 12px;
  font-style: italic;
}

.maxHeightScrollbar {
  height: 90% !important;
}

.align-right {
  text-align: right !important;
}

.estilo_pie {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
