<cdev-title></cdev-title>

<cdev-container>
  <!-- <div [fxLayout]="flexDirection" fxLayoutAlign="space-between">
    <div>1</div>
    <div>2</div>
    <div>3</div>
  </div> -->
  <cdev-table [data]="data" [metadata]="metadata"></cdev-table>
  <!-- <table prefer>
    <thead>
      <tr>
        <th>Id</th>
        <th>Fullname</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.properties().id }}</td>
        <td>{{ user.properties().fullname }}</td>
        <td>{{ user.properties().email }}</td>
      </tr>
    </tbody>
  </table> -->
</cdev-container>
