<cdev-title> </cdev-title>
<ng-scrollbar class="maxHeightScrollbarDashboard">
  <div class="container">
    <div class="graphSales">
      <cdev-sales></cdev-sales>
    </div>
    <div class="graphAverage">
      <div class="graphIncomesMonthly">
        <cdev-incomes-monthly></cdev-incomes-monthly>
      </div>
      <div class="graphIncomesMonthly">
        <cdev-checkout></cdev-checkout>
      </div>
      <div class="graphIncomesMonthly">
        <cdev-pending></cdev-pending>
      </div>
    </div>
  </div>
</ng-scrollbar>
